<div class="contents-box">
  <div class="container-left">
    <div class="container-left-register">
      <h3>全ての書籍</h3>
    </div>
    <div class="container-search-result">
      <% @products.each do |product| %>
      <div class="container-search-result-box" title="<%= product.bookname %>">
        <a href="/products/<%= product.id %>">
        <div class="container-search-result-box-left" >
          <% if product.image.attached? %>
            <%= image_tag product.image %>
          <% end %>
        </div>
        <div class="container-search-result-box-right">
          <h2><%= product.bookname %></h2>
          <p><%= product.author %></p>
        </div>
        </a>
      </div>
      <% end %>
      <%= paginate(@products) %>
    </div>
  </div>
  <br>
  <div class="container-right">
    <%= form_tag('/products/search', method: :get) do %>
      <input id="sbox" name="keyword" type="text" placeholder="キーワードを入力" />
      <input id="sbtn" type="submit" value="検索" >
    <% end %>
    <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
    </form>
    <br>
    <%= link_to "書籍を検索する", "/products/search", class: "right-btn" %>
    <%= link_to "書籍を登録する", "/products/new", class: "right-btn" %>
    <% if user_signed_in? %>
    <%= link_to "マイページ", user_path(current_user), class: "right-btn" %>
    <% end %>
    <div class="sponsor">
    </div>
  </div>
</div>
   